h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  border-radius: 50px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.btn__orange {
  width: 315px;
  height: 70px;
  line-height: 70px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-6.2%, rgba(246, 200, 102, 0.9)), to(rgba(254, 173, 53, 0.9)));
  background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
}

@font-face {
  font-family: 'Bad_Script';
  src: url("../fonts/Bad_Script/BadScript-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Blackitalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bolditalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Mediumitalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Lightitalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thinitalic.ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

.user {
  background-image: url("../img/blik2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.6);
}

.user__inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__strip {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 35px 0 20px 0;
}

.user__title {
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.1em;
  padding: 10px 0 40px 0;
}

.user__ava {
  position: relative;
}

.user__ava {
  background-image: url("../img/icon1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 390px;
  height: 390px;
  position: relative;
}

.user__ava img {
  width: 237px;
  height: 237px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.user__text {
  color: #F6C866;
}

.user__text span {
  text-transform: uppercase;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: #202024;
  max-width: 100%;
  min-width: 300px;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', 'Arial', 'Sans-Serif';
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}
/*# sourceMappingURL=style.css.map */